# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# IDE directories (optional)
.vscode/
.idea/

# OS files
.DS_Store  # MacOS
Thumbs.db  # Windows

# Docker
docker-compose.override.yml
